@model DAL.Entities.Product

@{
    ViewData["Title"] = Model != null ? "Edit" : "Create";
}

<h3>@ViewData["Title"]</h3>
<form asp-action="@ViewData["Title"]" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ProductId" />
    <div class="mb-3">
        <label class="form-label">Category</label>
        <select class="form-select" asp-for="CategoryId" asp-items="@(new SelectList(ViewBag.Categories, "CategoryId","Name"))">
            <option>--Select--</option>
        </select> 
    </div>
    <div class="mb-3">
        <label class="form-label">Name</label>
        <input type="text" asp-for="Name" class="form-control" />
       
    </div>   
  
    <div class="mb-3">
        <label asp-for="UnitPrice" class="control-label">Unit Price</label>
        <input type="text" asp-for="UnitPrice" class="form-control" />
        
    </div>
    <div class="mb-3">
        <label asp-for="Description" class="control-label">Description</label>
        <textarea class="form-control" asp-for="Description"></textarea>

    </div>

    <button type="submit" class="btn btn-primary">Submit</button>  
    <a asp-action="Index" asp-controller="Product" class="btn btn-warning">Cancel</a>
</form>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
